.container {
   background-color: pink;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items:  center;
    flex-wrap: wrap;
    
}

.box {
    height: 50px;
    width: 50px;
    background-color: aqua;
    border: 1px solid black;
    margin: 20px;
}